<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Tingkatan Breast Cancer </title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Care Your Breast Cancer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid pt-5 pb-5 mb-5">
    <div class="container">
      
      <h2>Tim Pengembang</h2>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='images/talenta.jpeg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Talenta Maria Sihotang</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>11S19020</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>

        
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='images/bintang.jpeg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Bintang Lumban Raja</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>11S19033</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='images/montana.jpg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Montana Gurning</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>11S19017</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>

        
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='images/agnes.jpg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Agnes Bertua Nababan</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>11S19061</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>
      </div>

      <br>
      <br>
      <div class="row">
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='images/sophian.jpeg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Sophian Kalam Nainggolan</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>11S19004</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>

      </div>
    </div>
  </div>

  <footer class="container-fluid bg-dark text-white" style="padding: 20px 0; margin-top: 150px">    
    <div class="container my-auto">
      
      <div class="row mt-5">
      <div class="description col-5">
            <p class="fs-5"><b>CARE YOUR BREAST CANCER</b></p>
            <p class="fs-6 w-75">Aplikasi Care Your Breast Cancer merupakan aplikasi berbasis website dimana aplikasi ini berfungsi untuk memprediksi
                apakah penyakit kanker payudara yang di derita itu dalam kategori malignant (ganas) atau benign (jinak)</p>
          </div>

          <div class="link col-3">
         
          </div>

          <div class="contact-information col-4">
            <p class="fs-5"><b>INSTITUT TEKNOLOGI DEL</b></p>
            <p class="fs-6">Fakultas Informatika dan Teknik Elektro</p>
            <p>Jl. Sisingamangaraja, Sitoluama, Laguboti, Toba Samosir
                Sumatera Utara, Indonesia, Kode Pos: 22381</p>
          </div>
        </div>
        </div>
        
        <div class="container">
          <small>&copy; @IT DEL 2022  Diagnosis Breast Cancer - Kelompok 6 -</small>
        </div>

    </footer>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>