<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Tingkatan Breast Cancer</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Care Your Breast Cancer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #C9DDFA;">
    <div class="container">
      <h1 class="display-4">Selamat Datang!</h1>
      <p class="lead">Ayo Cek Diagnosa Breast Cancer-mu disini!</p>
      <p class="navbar-brand">THE MOST VALUABLE THING IS YOUR HEALTH</p>
      <hr class="my-4">
      <p> </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/form_predict" role="button">Mulai Prediksi</a>
      </p>
    </div>
  </div>


  <div class="container-fluid pt-5 pb-5">
    <div class="container">
      <div class="row"> 

        <div class="col-md-4">
          <h3>Apa itu Breast Cancer? </h3>
          <p>Breast Cancer adalah kanker yang terbentuk di jaringan payudara. 
            Breast Cancer terjadi ketika sel-sel pada jaringan yang ada di payudara 
            tumbuh tidak terkendali dan mengambil alih jaringan payudara yang sehat dan 
            sekitarnya.</p>
            <p>Breast Cancer bisa terbentuk di kelenjar yang menghasilkan susu (lobulus) 
              atau di saluran (duktus) yang membawa air susu dari kelenjar ke puting payudara. 
              Kanker juga bisa terbentuk di jaringan lemak atau jaringan ikat di dalam payudara. 
              Meski lebih sering terjadi pada wanita, kanker payudara juga bisa menyerang pria.</p>
        </div>

        <div class="col-md-4">
          <h3>Apa Gunanya Mendeteksi Tingkat Breast Cancer?</h3>
            <p>Ada tiga permasalahan utama adalah kanker tidak dapat dideteksi, tidak dapat 
              dicegah dan tidak dapat disembuhkan. Padahal fakta yang terungkap yaitu lebih 
              dari 40% dari semua kanker dapat dicegah dengan catatan bahwa kanker harus 
              terdeteksi lebih dini. Aplikasi <i>Care Your Breast Cancer</i>, dimana aplikasi 
              ini akan memberikan informasi mengenai hasil deteksi Breast Cancer dari data-data yang sesuai</p>         
        </div>

        <div class="col-md-4">
          <h3>Apa Saja Tingkatan Breast Cancer?</h3>
          <p>Tingkatan Breast Cancer yang dapat dideteksi pada aplikasi ini ada 2, yaitu:</p>
          <ul>
            <li>Benign(B) merupakan tingkat kanker yang jinak </li>
            <li>Malignant(M) merupakan tingkat kanker yang ganas</li>
          </ul>   
          <p>Upaya pengobatan bisa dilakukan dengan: Terapi Radiasi, Terapi Hormon, Temoterapi, Prosedur Bedah</p>   
        </div>
      
      </div>
    </div>
  </div>

  <div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <small>&copy; @IT DEL 2022  Diagnosis Breast Cancer - Kelompok 6 -</small>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>